services:
  api:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - /app/node_modules

    depends_on:
      - db

  db:
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=messagemedb

    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
